# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*/node_modules
lambdas/*/node_modules
frontend/node_modules
frontend/build
frontend/dist
next/node_modules
next/build
next/dist
backend/node_modules
backend/build
backend/dist
docker/node_modules
docker-compose/node_modules
docker-compose-frontend/node_modules
docker-compose-backend/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.production
frontend/.env
frontend/.env.local
frontend/.env.production
next/.env
next/.env.local
next/.env.production
backend/.env
backend/.env.local
backend/.env.production

package-lock.json
frontend/package-lock.json
next/package-lock.json
backend/package-lock.json


info
info/back.txt
info/front.txt