.loading {
  padding: 2rem;
}

.error {
  padding: 2rem;
  color: #ef4444; // Tailwind's red-500
}

.todoList {
  width: 100%;
  /* Add spacing between items if needed: */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}