.page {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: var(--font-geist-sans);
  padding: 1rem;
  padding-top: 1.5rem;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  flex: 1;
}

.footer {
  display: flex;
  gap: 1.5rem;
  /* No need for grid-row-start */
  /* It will naturally be at the bottom */
}

@media (max-width: 600px) {
  .page {
    padding: 2rem;
    padding-bottom: 5rem;
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

